body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a1a2e;
  }
  

  .login-container {
    width: 420px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: #f1f1f1;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 3px 1.5px #f8f8f8 ;
    
  }
  
  h2 {
    margin-bottom: 3%;
    color: #ffffff;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bee158;
    border-radius: 3px;
    color: #000;
  
  }
  
  .login-form input:hover {
    transform: scale(1.08);
    transition: transform 0.4s ease;
  }
  
  .login-form input ::placeholder{
    color: #f7e9e9;
  }
  
  .login-form button {
    background-color: #bee158;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    /* transform: scale(1.0); */
    transition: transform 0.3s ease;
  }
  
  .login-form button:hover {
    
    color: #000;
    transform: scale(1.05);
  
  }
  
  
  .se-cadastre{
    color: #ffffff;
  }