@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.centro {
    max-width: 1200px;
    margin: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    padding: 1% 2%;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.menu_sec span {
    font-weight: 200;
}

.menu_sec {
    background-color: white;
    padding: 30px 0px;
}

.menu div {
    display: flex;
    justify-content: space-between;
}

.lista_menu {
    display: flex;
    list-style: none;
    align-self: flex-end;
    gap: 15px;
}

.lista_menu li {
    margin-right: 10px;
}

.lista_menu a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: transform 0.3s ease;
    /* Transição suave */
}

.lista_menu a:hover {
    transform: translateY(-5px);
    /* Movimento para cima */
}


/* Card */
.atletas_sec {
    background-color: #1a1a2e;
    padding: 50px 0px;
}

.atletas_sec h1 {
    font-size: 45px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.atletas_card_box {
    display: flex;
    gap: 3%;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_atleta {
    gap: 10px;
    border: white 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4%;
    border-radius: 10px;
}

.card_atleta button {
    background-color: #1a1a2e;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.close {
    background-color: #1a1a2e;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.titulo_atleta {
    overflow-y: auto;
    max-height: 99px;
    width: 26vw;
}

/* Para navegadores WebKit (Chrome, Safari) */
.titulo_atleta::-webkit-scrollbar {
    width: 12px;
    /* largura da barra de rolagem */
}

.titulo_atleta::-webkit-scrollbar-thumb {
    background-color: #888;
    /* cor do indicador de rolagem */
    border-radius: 6px;
    /* arredondamento do indicador de rolagem */
}

.titulo_atleta::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* cor de fundo da barra de rolagem */
}

/* Para Firefox */
.titulo_atleta::-moz-scrollbar {
    width: 12px;
    /* largura da barra de rolagem */
}

.titulo_atleta::-moz-scrollbar-thumb {
    background-color: #888;
    /* cor do indicador de rolagem */
    border-radius: 6px;
    /* arredondamento do indicador de rolagem */
}

.titulo_atleta::-moz-scrollbar-track {
    background-color: #f1f1f1;
    /* cor de fundo da barra de rolagem */
}