/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 


  font-family: "Poppins", sans-serif;

  Azul
  background-color: #1a1a2e;

*/



.centro{
    max-width: 1200px;
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    
}
.menu_sec span {
    color: #bee158;
    text-shadow: -1px 3px 0px #1a1a2e;
}


.menu_sec{
    background-color: white;
    padding: 30px 0px;
}
.menu div{
    display: flex;
    justify-content: space-between;
}
.lista_menu{
    display: flex;
    list-style: none;
    align-self: flex-end;
    gap: 15px;
}

.banner_sec{
    background-color: #1a1a2e;
}


/* BANNER */

.btn_box_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}
.banner_sec{
    padding: 50px 0px;
}
.banner_sec h1{
    color: white;
    text-align: center;
    
    font-size: 45px;
}
.banner_sec p{
    color: white;
    padding-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

.banner_sec button{
    width: 120px;
    height: 45px;
    background-color: #bee158;
    color: #1a1a2e;
    border-radius: 15px;
    font-weight: bold;
}

/* ATLETA SECTION */


/* Define a classe para o elemento onde deseja colocar o background */

.atleta_sec{
    padding-bottom: 30px;
}

/* txt */
.atleta_sec h1{
    font-size: 45px;
    padding: 50px 0px;
    text-align: center;
}
.atleta_sec div{
    display: flex;
    gap: 0px 25px;
    /* justify-content: center; */
}
.info_box_atleta{
    display: flex;
    flex-direction: column;
}
.img_box_atleta img{
    width: 65%;
    height: auto;
}
.img_box_atleta{
    position: relative;
    right: -12%;
}
.info_box_atleta div:last-child{
    gap: 0px 17px !important;
}
.cardInfo_box div:last-child{
    display: flex;
    flex-direction: column ;
}
.cardInfo_box i{
    font-size: 32px;
}

/* EMPRESA SEC */

.empresa_sec{
    background-color: #1a1a2e;
}
.empresa_sec div{
    padding-bottom: 30px;
}
.empresa_conteudo_box{
    display: flex;
    align-items: center;
}

.empresa_sec h1{
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.empresa_group div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}
.empresa_group span{
    background: #bee158;
    width: 6%;
    display: block;
    border-radius: 50%;
    padding: 2%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.empresa_group i{
    color: white;
    font-size: 35px;
}
.empresa_group h2{
    color: white;
}
.empresa_sec p{
    color: white;
}

/* .empresa_info2_box{
    margin-left: 10%;
} */

/* CONTATO */

.contato_sec h1{
    text-align: center ;
    font-size: 45px;
    padding: 50px 0px;
}

.contato_sec textarea{
    resize: none;
}
.contato_sec input , .contato_sec textarea{
    background-color: #1a1a2e;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.centroContato{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 90px;
}
.inputs_group1_box{
    display: flex;
    gap: 15px;
}
.inputs_group1_box input{
    width: 100%;
}
.inputs_group2_box{
    display: flex;
    flex-direction: column;
}

.contato_button{
    float: right;
    background-color: #1a1a2e;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.contato_button:hover{
    background-color: #ffffff;
    color: #1a1a2e;
    font-weight: 500;
}


/* FOOTER */

.footer_sec{
    text-align: center;
    padding-top: 50px;
}
.footer_sec h2{
    padding: 10px 0px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-left h2 {
    margin-bottom: 10px;
}

.social-links img {
    width: 30px;
    margin-right: 10px;
}

.footer-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-right ul li {
    margin-right: 10px;
}

.footer-right span {
    margin: 0 10px;
    font-weight: bold;
}
.footer_sec i{
    font-size: 50px;
    color: #1a1a2e;
}
