.modalVerde {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55%;
    top: 10%;
    transform: translate(-50%, -50%);
    background: #8ff79c;
    border-radius: 10px;
    padding: 0px 50px;

  }
  .sucesso_titulo {
    color: #004d0a;
    font-size: 0.95rem;
    line-height: 0.01rem;
    font-weight: bold;
  }
  .sucesso_box {
    display: flex;
    flex-direction: column;
  }

  .sucesso_texto {
    color: #000000;
  }

  /* MODAL ERRO */
  .modalVermelho {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55%;
    top: 10%;
    transform: translate(-50%, -50%);
    background: #ff2222;
    border-radius: 10px;
    padding: 0px 50px;

  }
  .erro_titulo {
    color: #ffffff;
    font-size: 0.95rem;
    line-height: 0.01rem;
    font-weight: bold;
  }
  .erro_box {
    display: flex;
    flex-direction: column;
  }

  .erro_texto {
    color: #969696;
  }





  .publicar h1{
    text-align: center;
    color: white;
    font-size: 45px;
  }
  .publicar form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .publicar form textarea{
    resize: none;
    width: 48%;
    border-radius: 5px;
    margin-bottom: 2%;
  }
  .publicar form input{
    width: 48%;
    padding: 0.2rem;
    border-radius: 5px;
    margin-bottom: 2%;
  }
  .label_publi{
    width: 48%;
    color: white;
    font-size: 25px;
  }
  .btn_enviar_publi_box{
    width: 48%;
  }
  .btn_enviar_publi_box button{
    float: right;
    padding: 7px 19px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* CARD PUBLICAÇÃO */
  #feed_container{
    background-color: white;
    width: 45%;
    margin: 0 auto;
    padding: 3%;
    border-radius: 10px;
}

#feed_container button{
  float: right;
    padding: 7px 19px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
  