.centro{
    max-width: 1200px;
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    
}
body{
    background-color: #1a1a2e;
}

/* Modal ERRO */

.modal_erro {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffc1c1;
    border-radius: 10px;
    padding: 15px;
  }
  .close_erro{
    cursor: pointer;
  }
  .erro_titulo{
    margin-bottom: 1%;
  }

/* MENU */

.menu_sec span {
    font-weight: 200;
}

.menu_sec{
    background-color: white;
    padding: 30px 0px;
    display: none;
}
.menu div{
    display: flex;
    justify-content: space-between;
}
.lista_menu{
    display: flex;
    list-style: none;
    align-self: flex-end;
    gap: 15px;
}
.banner_sec{
    background-color: #1a1a2e;
}

.lista_menu li {
    margin-right: 10px;
}

.lista_menu a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: transform 0.3s ease; /* Transição suave */
}

.lista_menu a:hover {
    transform: translateY(-5px); /* Movimento para cima */
}


/* MODAL INFORMATIVO */

.txt_informativo_box{
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.txt_informativo_box i{
    margin-right: 1% ;
}
.txt_informativo_box p{
    font-size: 20px;
}
.modal h2{
    margin-bottom: 2%;
}

.simulador_sec{
    background-color: #1a1a2e;
    height: 100vh;
}
.simulador_sec .centro{
    display: flex;
}

.simulador_sec h1{
    text-align: center;
    font-size: 45px;
    padding: 30px 0px;
    color: white;
}
h3{
    color: white;
}

.txt_cards_informativo_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 30px;
    color: white;
}

/* Estilos adicionais para o conteúdo dentro da div */
.txt_cards_informativo_box p,
.txt_cards_informativo_box h4 {
    margin: 0;
}

.txt_cards_informativo_box h4 {
    font-weight: normal;
}

/* CALCULADORA BOX */

.calculadora_box{
    display: flex;
    justify-content: center;
}
.resultados_box h2{
    margin-bottom: 10px;
    color: white;
    font-weight: 200;
}
.resultado_titulo{
    font-weight: bold !important;
    color: #bee158 !important;
    margin-bottom: 20px;
}

/* FORM */
.form_box{
    padding: 30px 40px;
    background-color: white;
    border-radius: 15px;
    width: 30vw;
    height: auto;
    

    box-shadow: 20px 19px 60px #393957, -20px 20px 60px #4c4c8566;
}
.button_info{
    background-color: transparent;
}


.form_box i{
    font-size: 20px;
    cursor: pointer;
    color: #1a1a2e;
    float: right;
}
.form_box form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_box form input{
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: auto;

}
.form_box form select{
    height: 20px;
    margin-bottom: 1rem;
}
.form_box button{
    float: right;
    margin-top: 20px;
    float: right;
    margin-top: 20px;
    padding: 0.6rem;
    border: none;
    background: #1a1a2e;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    width: 5vw;

}
.periodo_box{
    display: flex !important;
}
.organizacao_inputs_box{
    display: flex;
}
.spn_msg{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline #bee158 5px;
}
/* modal explicativo */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    border: white 1px solid;
    box-shadow: 20px 19px 60px #393957, -20px 20px 60px #4c4c8566;
    height: auto;
    width: 50vw;
  }
  .close {
    float: right;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background: #1a1a2e;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  /* Resultado */

  .resumo_box{
    display: block;
    margin: 30px 0;
  }
  .resumo_box h2{
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
  }
  .resumo_box h4{
    color: white;
    font-weight: normal;
  }
  .msg_box{
    margin-left: 5%;
  }
  .msg_box h2{
    color: white;
    text-decoration: underline #bee158 5px;
  }