/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #1a1a2e;
}

/* MODAL SUCESSO */
.modalVerde {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 55%;
  top: 10%;
  transform: translate(-50%, -50%);
  background: #8ff79c;
  border-radius: 10px;
  padding: 0px 50px;

}
.sucesso_titulo {
  color: #004d0a;
  font-size: 0.95rem;
  line-height: 0.01rem;
  font-weight: bold;
}
.sucesso_box {
  display: flex;
  flex-direction: column;
}

.sucesso_texto {
  color: #000000;
}

/* MODAL ERRO */
 /* MODAL ERRO */
 .modalVermelho {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 55%;
  top: 10%;
  transform: translate(-50%, -50%);
  background: #ff2222;
  border-radius: 10px;
  padding: 0px 50px;

}
.erro_titulo {
  color: #ffffff;
  font-size: 0.95rem;
  line-height: 0.01rem;
  font-weight: bold;
}
.erro_box {
  display: flex;
  flex-direction: column;
}

.erro_texto {
  color: #ffffff;
}

/* ORAGANIZAÇÃO */
.dash_box {
  display: flex;
}

.menu_box {
  list-style: none;
  background-color: white;
  color: black;
  height: 100vh;
  width: 12vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
  gap: 1%;
  cursor: pointer;
}

.conteudo {
  margin-left: 10%;
  width: 90vw;
}

.centro {
  margin: 5%;
}

/* MENU */
.menu_box li {
  list-style: none;
}

.menu_box a {
  text-decoration: none;
  width: 85%;
  text-align: center;
  border: none;
  padding: 3%;
  color: #1a1a2e;
  font-weight: 700;
  transition: all 0.5 ease;
  font-size: 21px;
}

.menu_box a:hover {
  text-decoration: underline 2px #1a1a2e;

}

/* CONTEUDO */

.titulo_pg {
  text-align: center;
  font-size: 45px;
  color: white;
}

/* MODAL DE ADICIONAR MEDALHA */
.modalAdicionarMed{
  padding-bottom: 4% !important;
}

/* MODAL DE ADICIONAR PAT */
.modalInfoGerais {
  background: white;
  border-radius: 10px;
  flex-direction: column;
  padding: 2%;
  display: none;
  width: 35vw;
  margin: auto;
}

.modalInfoGerais i {
  cursor: pointer;
  float: right;
}

.modalInfoGerais form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.modalAdicionarPat button, .modalInfoGerais button {
  background-color: #1a1a2e;
  color: white;
  margin-top: 2%;
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  width: 10vw;
  float: right;
}

/* MODAL DE APAGAR PATROCINIO */

.modalApagar {
  position: fixed;
  display: none;
  top: 3%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  top: 9%;
  left: 43%;
  width: 20%;
}

.modalApagar button {
  background-color: #1a1a2e;
  color: white;
  padding: 3px 12px;
  cursor: pointer;
  border: none;
}

.buttonModal_box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3%;
}


/* CARDS PAGINA PRINCIPAL*/
.card_info_box {
  background-color: white;
  padding: 5px 20px;
  border-radius: 15px;
}

.cards_inf_box {
  display: flex;
  margin-top: 2%;
  gap: 1%;
}

.cards_inf_box div {
  background-color: white;
  padding: 5px 20px;
  border-radius: 15px;
  width: 38vw;
}

.medalhas_box {
  width: 78vw !important;
  
}

.span_medalhas_box{
  width: 1030px;
    display: block;
}

#medalha_container{
  display: flex;
  flex-direction: column;
  gap: 10px 0px;

}

.cards_inf_box button {
  float: right;
  padding: 7px 10px;
  background-color: #1a1a2e;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: cell;
  margin-top: 15px;
}

.card_pat_box i {
  color: red;
  margin-left: 5px;
  cursor: pointer;
}

.medalhas_box i {
  color: red;
  margin-left: 5px;
  cursor: pointer;
}

.scroll_box {
  max-height: 166px;
  overflow-y: auto;
  width: unset !important;
}

.titulo_comunidade{
  color: white;
  font-size: 45px;
}